@model BookStoreProject.Models.Comentario

@{
    ViewData["Title"] = "Delete";
}

<div class="btnVolver">
    <a class="btnAbm" asp-controller="Libro" asp-action="Index">Volver</a>
</div>

<h3 class="tituloEliminar">¿Está seguro que quiere eliminar este libro?</h3>

<div class="eliminar">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libro.Autor)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btnCreate" />
    </form>
</div>
