@model IEnumerable<BookStoreProject.Models.Suscripcion>

@{
    ViewData["Title"] = "Index";
}

<p class="btnAgregar">
    <a class="btnAbm" asp-action="Create">Agregar suscripcion</a>
</p>

<div class="formBuscador">
    @using (Html.BeginForm())
    {
        <p>
            <input class="buscador" id="cadenaBuscada" name="cadenaBuscada" type="text" value="" placeholder="Email de la suscripcion..." />
            <input class="buscar" type="submit" value="Buscar" />
        </p>
        @if (Model.Count() < 1)
        {
            <p class="notFound">¡Lo sentimos, no se ha encontra ninguna suscripcion!</p>
        }
        else
        {
            <p>Resultados: @Model.Count()</p>
        }
    }
</div>

<table class="table">
    <thead>
        <tr class="columna">
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <td class="dropdown">
                    <button class="dropbtn">Opciones</button>
                    <div class="dropdown-content">
                        <a class="btnAbm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
