@model IEnumerable<BookStoreProject.Models.Suscripcion>

@{
    ViewData["Title"] = "Index";
}

<p class="btnAgregar">
    <a class="btnAbm" asp-action="Create">Agregar suscripcion</a>
</p>
<table class="table">
    <thead>
        <tr class="columna">
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td class="dropdown">
                <button class="dropbtn">Opciones</button>
                <div class="dropdown-content">
                    <a class="btnAbm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btnAbm" asp-action="Details" asp-route-id="@item.Id">Ver detalles</a>
                    <a class="btnAbm"  asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
