@model IEnumerable<BookStoreProject.Models.Sucursal>

@{ ViewData["Title"] = "Index"; }

@if (User.IsInRole(nameof(Rol.Administrador)))
{
    <p id="btnAdd">
        <a class="btnAbm" asp-action="Create">Agregar nueva sucursal</a>
    </p>
}

<div class="formBuscador">
    @using (Html.BeginForm())
    {
        <p>
            <input class="buscador" id="cadenaBuscada" name="cadenaBuscada" type="text" value="" placeholder="Dirreción de la sucursal..." />
            <input class="buscar" type="submit" value="Buscar" />
        </p>
        @if (Model.Count() < 1)
        {
            <p class="notFound">¡Lo sentimos, no se ha encontrado ninguna sucursal!</p>
        }
        else
        {
            <p>Resultados: @Model.Count()</p>
        }
    }
</div>

<table class="table">
    <thead>
        <tr class="columna">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraApertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraCierre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraApertura)hs
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraCierre)hs
                </td>
                <td class="dropdown">
                    @if (User.IsInRole(nameof(Rol.Administrador)))
                    {
                        <button class="dropbtn">Opciones</button>
                        <div class="dropdown-content">
                            <a class="btnAbm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="btnAbm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </div>

                    }

                </td>
            </tr>
        }
    </tbody>
</table>