@model BookStoreProject.Models.Venta

@{
    ViewData["Title"] = "Delete";
}

<div class="btnVolver">
    <a class="btnAbm" asp-action="Index">Volver a la lista de ventas</a>
</div>

<h3 class="tituloEliminar">¿Está seguro que quiere eliminar esta registro?</h3>

<div class="eliminar">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calle):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Altura):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tarjeta):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tarjeta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTarjeta):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroTarjeta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libro):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Libro.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libro.Precio):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Libro.Precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btnCreate" />
    </form>
</div>
