@model BookStoreProject.Models.Libro

@{
    ViewData["Title"] = "Comprar";
}

<h1>Formulario de compra</h1>

<div>
    <form asp-action="Confirmar">
        <label> Nombre </label>
        <input type="text" asp-for="Titulo "name="Titulo" value="" /><br />
        <label>Apellido</label>
        <input type="text" name="apellido" value="" /><br />
        <label>Dirrecion</label>
        <label>Calle</label>
        <input type="text" name="calle" value="" /><br />
        <label>Altura</label>
        <input type="text" name="altura" value="" /><br />
        <label>Timbre</label>
        <input type="text" name="timbre" value="" /><br />
        <label>Telefeono</label>
        <input type="tel" name="telefono" value="" /><br />
        <label>Tarjeta</label>
        <input type="text" name="numero-tarjeta" value="" />
        <input type="submit" name="Confirmar" value="" />
    </form>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Confirmar" asp-route-id="@Model.Id">Confirmar</a> |
    <a asp-action="Index">Back to List</a>
</div>