@model BookStoreProject.Models.Libro

@{
    ViewData["Title"] = "Details";
}

@if (User.IsInRole(nameof(Rol.Administrador)))
{
    <div class="btnVolver">
        <a class="btnAbm" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    </div>

}

@{
    var cargarImagen = "http://localhost:52620/imagenes/" + @Model.Id + ".jpg";

}
<img class="libro" src=@cargarImagen alt="Model.Titulo" />

<div class="detalle">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
</div>

<form asp-action="Comentar" asp-route-id="@Model.Id" method="post">
    <textarea id="campoComentario" name="Comment" rows="3" cols="100" placeholder="Escriba un comentario..."></textarea><br />
    <input id="btnComentar" type="submit" name="Comentar" value="Comentar" />
</form>
<div>
    <a class="btnCompra" asp-controller="Venta" asp-action="Comprar" asp-route-id="@Model.Id">Comprar</a><br />
</div>

<h3>Comentarios</h3>
<table class="table">
    <tbody>
        @foreach (var comentario in ViewData["Comments"] as IQueryable<Comentario>)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => comentario.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => comentario.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => comentario.Usuario.Nombre)
        </td>

        <td class="dropdown">
            @if (User.IsInRole(nameof(Rol.Administrador)))
            {
                <button class="dropbtn">Opciones</button>
                <div class="dropdown-content">
                    <a class="btnAbm" asp-controller="Comentario" asp-action="Delete" asp-route-id="@comentario.Id">Eliminar</a>
                </div>
            }
        </td>


    </tr>
        }
    </tbody>
</table>
