@model IEnumerable<BookStoreProject.Models.Libro>;

@{
    ViewData["Title"] = "Index";
}

<p class="btnAgregar">
    @if (User.IsInRole(nameof(Rol.Administrador)))
    {
        <a class="btnAbm" asp-action="Create">Agregar nuevo libro</a>
    }

    <!--***************************************************-->

<div class="formBuscador">
    @using (Html.BeginForm())
    {
        <p>
            <input class="buscador" id="cadenaBuscada" name="cadenaBuscada" type="text" value="" placeholder="Titulo del libro..." />
            <input class="buscar" type="submit" value="Buscar" />
        </p>
        @if (Model.Count() < 1)
        {
            <p class="notFound">¡Lo sentimos, no se ha encontrado ningún libro!</p>
        }
        else
        {
            <p>Resultados: @Model.Count()</p>
        }
    }
</div>

    <!--***************************************************-->


    <table class="table">
        <thead>
            <tr class="columna">
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td class="dropdown">
                        @if (User.IsInRole(nameof(Rol.Administrador)))
                        {
                            <button class="dropbtn">Opciones</button>
                            <div class="dropdown-content">
                                <a class="btnAbm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                <a class="btnAbm" asp-action="Details" asp-route-id="@item.Id">Ver detalles</a>
                                <a class="btnAbm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                            </div>
                        }
                        else
                        {
                            <button class="dropbtn">Opciones</button>
                            <div class="dropdown-content">
                                <a class="btnAbm" asp-action="Details" asp-route-id="@item.Id">Ver detalles</a>
                            </div>

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
